<div id="content" ng-if="!main.loggedIn">

    <div id="landing-page">

        <img src="/app/img/ubc.jpg" class="background-image">


        <div id="login-box" class="center">

            <h3 id="landing-headline"> Course Watcher</h3>

            <a href="/#/login" class="waves-effect waves-light btn-large black homepage-buttons"> LOGIN </a>
            <br/>
            <a href="/#/signup" id="signup-button" class="waves-effect waves-light btn-large black homepage-buttons"> REGISTER </a>


        </div>

    </div>

</div>

<!-- Dashboard -->

<div id="content" class="dashboard" ng-if="main.loggedIn" ng-controller="RequestController as requestCtrl">

    <ul class="collection with-header">
        <li class="collection-header"><h4>My Requests</h4></li>
        <li class="collection-item" ng-if="requestCtrl.isEmpty()">
            <p class="center">Submit a new request by pressing the red button.</p>
        </li>

        <ul ng-repeat = "request in requestCtrl.requests | reverse">
            <li class="collection-item avatar" ng-class="{bggrey: request.isChecked}">
                <i class="circle profile" style="background-color: {{ request.color }}">{{ request.department | first }}</i>
                <div style="margin-left: 15px;">
                    <span class="title">{{ request.department + " "}} {{ request.courseNumber + " "}} {{ request.courseSection }}</span>
                    <p>{{ request.sumWin | capitalize }}{{ " " + request.sessionYear }} <br>
                        <time>Created at {{ request.created | amCalendar }}</time>
                    </p>
                </div>
                <a href="" ng-click="requestCtrl.deleteRequest(request._id)" class="secondary-content"><i class="fa fa-2x fa-times" style="color: red; margin-top: -20px;"></i></a>
            </li>
        </ul>
    </ul>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a data-target="add-modal" class="btn-floating btn-large red modal-trigger">
            <i class="large material-icons">add</i>
        </a>
    </div>


    <!-- Add Modal -->
    <div id="add-modal" class="modal">
        <div class="row">
            <form class="col s12" method="post" ng-submit="requestCtrl.createRequest()">
                <div class="modal-content">

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="sessionYear" name="sessionYear" type="text" class="validate" ng-model="requestCtrl.requestData.sessionYear">
                            <label for="sessionYear">Year</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="sumWin" name="sumWin" type="text" class="validate" ng-model="requestCtrl.requestData.sumWin">
                            <label for="sumWin">Summer/Winter</label>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="department" name="department" type="text" class="validate" ng-model="requestCtrl.requestData.department">
                            <label for="department">Department</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="courseNumber" name="courseNumber" type="text" class="validate" ng-model="requestCtrl.requestData.courseNumber">
                            <label for="courseNumber">Course Number</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="courseSection" name="courseSection" type="text" class="validate" ng-model="requestCtrl.requestData.courseSection">
                            <label for="courseSection">Course Section</label>
                        </div>
                    </div>
                    
                    <!-- Switch -->
                    <div class="row">
                        <div class="switch">
                            <label>
                                General
                                <input type="checkbox" name="isRestricted" ng-model="requestCtrl.requestData.isRestricted">
                                <span class="lever"></span>
                                Restricted
                            </label>
                        </div>
                    </div>
     
                </div>
                <div class="modal-footer">

                    <button type="submit" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();    
            
        });

    </script>


</div>