<div id="content">

    <div id="landing-page">

        <img class="background-image">


        <div id="login-box" class="center">

            <div class="row">
                <form class="col s12" method="post" ng-submit="user.signupUser()">

                	<div class="row">
           					<div class="input-field col s6">
              					<input id="first_name" name="first_name" type="text" class="validate" ng-model="user.userData.first_name">
              					<label for="first_name">First Name</label>
            				</div>
            				<div class="input-field col s6">
              					<input id="last_name" name="first_name" type="text" class="validate" ng-model="user.userData.last_name">
              					<label for="last_name">Last Name</label>
            				</div>
          				</div>

          				<div class="row">
           					<div class="input-field col s12">
              					<input id="email" name="email" type="email" class="validate" ng-model="user.userData.email">
              					<label for="email">Email</label>
            				</div>
          				</div>

                  <div class="row">
                      <div class="input-field col s12">
                          <input id="username" name="username" type="text" ng-model="user.userData.username" class="validate">
                          <label for="username">Username</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" name="password" type="password" ng-model="user.userData.password" class="validate">
                          <label for="password">Password</label>
                      </div>
                  </div>
                    
                  <button type="submit" class="waves-effect waves-light btn-large green darken-1 homepage-buttons button-text"> Register </button>
                  
                </form>
            </div>


        </div>

    </div>


</div>
