html {
    height: 100%;
}

body {}

main {
    flex: 1 0 auto;
}

body {
    width: 100%;
    height: 100%;
    z-index: 0!important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.background-image {
    z-index: -10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 4.5em;
    object-fit: cover;
    opacity: 0.8;
}

#content {
    height: 100%;
    z-index: 1;
}

.nav {
    height: 5em !important;
    font-family: 'Courgette', cursive;
}

#landing-page {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    z-index: 0 !important;
}

#nav-bar-logo {
    padding-left: 0.5em;
    font-family: 'Courgette', cursive;
    font-size: 40px;
}

.navbar-button {
    font-size: 30px;
}

#login-box {
    z-index: 1;
    color: azure;
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    margin-top: -300px;
}

#landing-headline {
    margin-top: 0.5em;
    margin-bottom: 0.6em;
    font-size: 7em;
    font-family: 'Courgette', cursive;
}

#login-page {
    width: 60%;
}

.login-text {
    font-size: 2em !important;
    font-family: 'Damion', cursive;
}

.homepage-buttons {
    width: 250px;
    opacity: 0.8;
}

.button-text {
    font-weight: 900;
}

.section-1 {
    background: white;
}

.copyright {
    font-size: 1.5em;
    font-family: 'Courgette', cursive
}